@font-face {
  font-family: "noto";
  src: url("../../public/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "playfair";
  src: url("../../public/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
