footer {
  height: 50vh;
  width: 100%;
  background-color: #0f0e0c;
  border-top: 1px solid rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-box {
  height: 85%;
  width: 90%;
  margin: auto;
  display: flex;
}

.footer-footer {
  height: 15%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-div1 {
  width: 25%;
  color: white;
  font-size: 14px;
  padding-top: 20px;
}

.footer-fa {
  display: flex;
  gap: 10px;
}

.footer-fo {
  height: 30px;
  width: 30px;
  background-color: #25231ed7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
}

.footer-fo:hover {
  background-color: #cca35c;
}

.footer-div2 {
  width: 40%;
  color: white;
  display: flex;
  padding-top: 20px;
  font-size: 14px;
}

.footer-div2-box1 {
  width: 50%;
  height: 100%;
}

.footer-div2 i {
  font-size: 10px;
  color: #cca35c;
}

.footer-div2 p {
  transition: all 0.3s;
  cursor: pointer;
}

.footer-div2 p:hover {
  color: #cca35c;
}

.footer-div2-box2 {
  width: 50%;
  height: 100%;
}

.footer-div3 {
  width: 35%;
  color: white;
  padding-top: 20px;
}

.footer-div3 p {
  font-size: 14px;
}

.footer-div3 form {
  margin-top: 30px;
  background: #28251f;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #454035;
}

.footer-div3 form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  background: #28251f;
  color: white;
}

.footer-div3 form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #cda45e;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  cursor: pointer;
}
