body{
    padding: 0;
    margin: 0;
}

header {
    height: 95vh;
    width: 100%;
    position: relative;
}

header::before{
    content: '';
    height: 100%;
    width: 100%;
    background-image: url("../../../public/img/hero-bg.jpg");
    filter: brightness(45%);
    position: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}

.header-div1{
    height: 5%;
    width: 100%;
    position: relative;
}

.header-div2 {
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.757);
    color: white !important;
    position: relative;
}

.header-div3 {
    height: 85%;
    width: 100%;
    position: relative;
}

.box{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.header-div2-1{
    width: 20%;
}

.header-div2-2{
    width: 50%;
}

.header-div2-3{
    width: 20%;
    display: flex;
    justify-content: center;
}

.header-div2-3 button{
    background-color: transparent;
    border: 1px solid #cca35c;
    border-radius: 20px;
    height: 35px;
    width: 130px;
    color: white;
    cursor: pointer;
}
