#section1 {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../../../public/img/about-bg.jpg");
  filter: brightness(45%);
  position: fixed;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.section1-box {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: white;
}

.sectio1-gauche {
  height: 95%;
  width: 45%;
  margin: auto;
  color: white;
}

.fa-regular {
  color: #cca35c !important;
}

.sectio1-droite {
  height: 95%;
  width: 45%;
  margin: auto;
}
