#section1 {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../../../public/img/about-bg.jpg");
  background-attachment: fixed;
  filter: brightness(45%);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.section1-box {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: white;
}

.section1-gauche {
  height: 95%;
  width: 45%;
  margin: auto;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-regular {
  color: #cca35c !important;
}

.section1-droite img {
  height: 400px;
  width: 500px;
  margin: auto;
  position: relative;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px solid rgb(91, 91, 91);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
