#section6 {
  height: 70vh;
  width: 100%;
  background-color: #0f0e0c;
  color: white;
  padding-bottom: 20px;
  margin-top: 20px;
}

.section6-box {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.section6-bar {
  display: flex;
  width: 20%;
  gap: 10px;
}

.section6-Bar {
  height: 10px;
  width: 100px;
  border-bottom: 1px solid #cca35c;
  margin-top: 16px;
}

.section6-haut {
  height: 20%;
  width: 100%;
}

.section6-haut h3 {
  margin: 0;
  color: #cca35c;
  font-size: 25px;
  height: 20%;
  margin-bottom: 20px;
}

.section6-bas {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.section6-input1 {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section6-input1 input {
  background-color: transparent;
  border: 2px solid rgb(58, 58, 58);
  height: 48px;
  width: 380px;
  padding-left: 10px;
  color: white;
}

.section6-input2 {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6-input2 input {
  height: 90%;
  width: 100%;
  background-color: transparent;
  border: 2px solid rgb(58, 58, 58);
  color: white;
}

.section6-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6-btn button {
  background-color: #cca35c;
  color: white;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #section6 {
    height: 110vh;
  }

  .section6-input1 {
    gap: 10px;
  }

  .section6-input2 {
    gap: 10px;
  }
}

@media screen and (max-width: 426px) {
  #section6 {
    height: 140vh;
  }

  .section6-haut {
    height: 10%;
  }

  .section6-input1 {
    flex-direction: column;
    gap: 10px;
  }

  .section6-input2 {
    gap: 10px;
  }
}
