#section8 {
  height: 100vh;
  width: 100%;
  background-color: #0f0e0c;
  color: white;
  padding-bottom: 20px;
}

.section8-box {
  width: 98%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.section8-bar {
  display: flex;
  width: 20%;
  gap: 10px;
}

.section8-Bar {
  height: 10px;
  width: 100px;
  border-bottom: 1px solid #cca35c;
  margin-top: 16px;
}

.section8-haut {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section8-haut h3 {
  margin: 0;
  color: #cca35c;
  font-size: 25px;
  height: 20%;
  margin-bottom: 20px;
}

.section8-bas {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section8-photo1 {
  height: 50%;
  width: 100%;
  display: flex;
}

.section8-photo2 {
  height: 50%;
  width: 100%;
  display: flex;
}

.section8-card {
  width: 25%;
  height: 100%;
  border: 1px solid #cca35c;
  object-fit: cover;
  overflow: hidden;
}

.section8-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s;
}

.section8-card img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  #section8 {
    height: 400vh;
  }

  .section8-haut {
    height: 10%;
  }

  .section8-bas {
    gap: 2px;
  }

  .section8-photo1 {
    margin: auto;
    flex-wrap: wrap;
    height: 25%;
    margin: 0;
  }

  .section8-photo2 {
    margin: auto;
    flex-wrap: wrap;
    height: 25%;
  }

  .section8-card {
    flex-basis: 50%;
    height: 50%;
    margin: auto;
  }
}
